<div class="alert alert-danger" [hidden]="!error">
	Er was een probleem bij het inloggen. Probeer het nog een keer.
</div>
<form role="form" (submit)="login()">
	<div class="form-group">
		<label for="username">Gebruikersnaam:</label>
		<input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.username" />
	</div>
	<div class="form-group">
		<label for="password">Wachtwoord:</label>
		<input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password" />
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Inloggen</button>
		<a [routerLink]="['/register']" class="btn btn-link">Registreren</a>
	</div>
</form>