<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Verzekeren</a>
  <div class="navbar-expand mr-auto" [hidden]="!isAuthenticated">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'/auto-verzekering'">Auto Verzekering</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav" [hidden]="!isAuthenticated">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'/user-edit'">Profiel</a>
    </div>
  </div>
</nav>
