<h1>
Vraag auto verzekering aan
</h1>

<div [hidden]="!success">
	De verzekering is succesvol opgeslagen.
</div>
<form #autoVerzekeringForm="ngForm" (ngSubmit)="saveAutoVerzekering(autoVerzekeringForm.value)">	
	<input [ngModel]="autoVerzekering.type" type="radio" value="WA" name="type" /> WA
	<input [ngModel]="autoVerzekering.type" type="radio" value="WA-beperkt" name="type" /> WA Beperkt
	<input [ngModel]="autoVerzekering.type" type="radio" value="WA-volledig" name="type" /> WA Volledig
	
	<button type="submit">{{submitMessage}}</button>
</form>