<h1>
Vraag auto verzekering aan
</h1>

<div [hidden]="!success">
	De verzekering is succesvol opgeslagen.
</div>
<form #autoVerzekeringForm="ngForm" (ngSubmit)="saveAutoVerzekering(autoVerzekeringForm.value)">
  <div class="form-group">
    <div class="form-check-inline">
      <label class="form-check-label">
        <input [ngModel]="autoVerzekering.type" type="radio" class="form-check-input" name="type" value="WA">WA
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input [ngModel]="autoVerzekering.type" type="radio" class="form-check-input" name="type" value="WA-beperkt">WA Beperkt
      </label>
    </div>
    <div class="form-check-inline disabled">
      <label class="form-check-label">
        <input [ngModel]="autoVerzekering.type" type="radio" class="form-check-input" name="type" value="WA-volledig">WA Volledig
      </label>
    </div>
  </div>

	<button type="submit" class="btn btn-primary">{{submitMessage}}</button>
</form>
